.DS_Store

.bundle
.env

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log
/tmp
!/log/.keep
!/tmp/.keep
.byebug_history

# Ignore Node.JS Files.
/node_modules
/logs
/vendor/assets
*.log
*.pid
*.seed
*.pid.lock
npm-debug.log*
.npm
.eslintcache

/public/assets
/dist/
