<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name="theme-color" content="#000000" />

  <meta name="description" content="Product designer and developer. Currently based in the great city of Milwaukee, Wisconsin." />
  <meta name="keywords" content="gavin, anthony, design, react, javascript, ui, mobile" />
  <meta property="og:url" content="https://gavinanthony.com/" />
  <meta property="og:site_name" content="Gavin Anthony | Product Designer, Developer" />
  <meta property="og:title" content="Gavin Anthony | Product Designer, Developer" />
  <meta property="og:image" content="https://gavinanthony.com<%= require('img/seo/facebook.png') %>" />
  <meta property="og:description" content="Product designer and developer. Currently based in the great city of Milwaukee, Wisconsin." />
  <meta property="og:type" content="website" />

  <meta name="twitter:site_name" content="Gavin Anthony | Product Designer, Developer" />
  <meta name="twitter:site" content="@gavicoind" />
  <meta name="twitter:title" content="Gavin Anthony | Product Designer, Developer" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="Product designer and developer. Currently based in the great city of Milwaukee, Wisconsin." />
  <meta name="twitter:image" content="https://gavinanthony.com<%= require('img/seo/twitter.png') %>" />

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div id="app"></div>
</body>

</html>
