//  ———————————————————————————
//  Basic Elements
//  ———————————————————————————
a {
  color: $g4;
  font-weight: 300;
  @include animate(0.2s);

  &:hover {
    color: $g3;
  }
}

img {
  max-width: 100%;
  display: block;

  &.half {
    width: 50%;
  }
}

figure {
  img {
    border-radius: 5px;
  }

  figcaption {
    color: $g4;
    margin: 5px 0;
    font-weight: 400;
    font-size: $medium-font-size;
  }
}

h1 {
  color: $g2;
  @include headline;
}

h2 {
  color: $g4;
  font-weight: 400;
  font-size: $medium-font-size;
}

h3 {
  color: $g3;
  font-weight: 400;
  font-size: $medium-font-size;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid $g5;
}

p {
  color: $g3;
  max-width: 35rem;
  margin-bottom: 20px;
}

hr {
  margin: 20px auto;
  border: 0;
  background: $g6;
  height: 1px;

  &.full {
    margin: 32px auto;
    width: 100%;
  }
}

.list {
  li {
    margin: .5rem 0;
    font-size: $medium-font-size;

    &.current {
      color: $g4;
      list-style: disc;
    }

    &.title {
      color: $g4;
      display: inline-block;
      margin: 5vh 0 .2rem;
      padding-bottom: 5px;
      border-bottom: 1px solid $g5;
    }

    * {
      display: inline-block;
      padding-bottom: 5px;
    }

    a {
      border-bottom: 1px solid $white;
    }

    a:hover {
      border-bottom: 1px solid $g5;
    }

    span {
      color: $g5;
    }
  }
}
