body {
  font-family: "Din Pro", "Avenir", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $base-color;
  overflow-y: scroll;
}
::selection {
  background: lighten($base-color, 20%);
}
//  ———————————————————————————
//  Layouts
//  ———————————————————————————
.wrapper {
  background: white;
  // margin: 10px;
}
.container {
  @include outer-container;
  margin: 0 auto;
  header & {
    @extend .border-bottom;
  }
}
.full {
  @include span-columns(12);
}
//  ———————————————————————————
//  Page specific
//  ———————————————————————————
header {
  background: white;
  nav {
    @include unstyled-list();
    @include horizontal-list();
    padding: 24px 0;
    &:last-child {
      @include pull-right;
    }
    li {
      margin: 0 12px;
      padding: 6px 0;
      position: relative;
      &:first-of-type {
        margin: 0;
        padding: 0;
      }
      a {
        position: relative;
        z-index: 1;
        font-weight: 500;
        color: darken($base-color, 10%);
        &:hover {
          color: darken($base-color, 20%);
        }
        &.active:before {
          content: " ";
          background: lighten($alt-color, 10%);
          width: 120%;
          padding: 5px;
          bottom: -5px;
          left: -10%;
          border-radius: 3px;
          position: absolute;
          z-index: -1;
        }
      }
      svg g g {
        fill: $base-color;
      }
    }
  }
}
footer {
  margin-top: 32px;
  background: $g8;
  nav {
    @include unstyled-list();
    @include horizontal-list();
    padding: 24px 0;
    &:last-child {
      @include pull-right;
    }
    li {
      margin: 0 12px;
      padding: 6px 0;
      &:first-of-type {
        margin: 0;
      }
    }
  }
}
