body {
  background: $white;
  overflow-y: scroll;
  @include base-font-styles;
}

::selection {
  background: lighten($base-color, 10%);
  color: $white;
}
//  ———————————————————————————
//  Layouts
//  ———————————————————————————
.wrapper {
  background: $white;
  // margin: 10px;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  @include outer-container;
}
//  ———————————————————————————
//  Page specific
//  ———————————————————————————
header {
  margin: 30vh 0;

  .name {
    font-size: $medium-font-size;
    font-weight: 400;
  }
}

footer {
  margin-top: 32px;
  background: $white;

  nav {
    padding: 24px 0;
    @include horizontal-list();

    &:last-child {
      @include pull-right;
    }

    li {
      margin: 0 12px;
      padding: 6px 0;
    }
  }
}
