body {
  font-family: "Affogato-Medium", "Avenir", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: white;
  overflow-y: scroll;
}
::selection {
  background: lighten($base-color, 10%);
  color: white;
}
//  ———————————————————————————
//  Layouts
//  ———————————————————————————
.wrapper {
  background: white;
  // margin: 10px;
}
.container {
  @include outer-container;
  padding: 0 20px;
  margin: 0 auto;
  header & {
    @extend .border-bottom;
  }
}
.full {
  @include span-columns(12);
}
.textblock {
  @include outer-container;
  margin-top: 32px;
  aside:first-child {
    @include span-columns(4);
  }
  aside:last-child {
    @include span-columns(8);
  }
}
//  ———————————————————————————
//  Page specific
//  ———————————————————————————
header {
  margin: 30vh 0;
}
footer {
  margin-top: 32px;
  background: white;
  nav {
    @include unstyled-list();
    @include horizontal-list();
    padding: 24px 0;
    &:last-child {
      @include pull-right;
    }
    li {
      margin: 0 12px;
      padding: 6px 0;
      &:first-of-type {
        margin: 0;
      }
    }
  }
}
