.btn {
  color: var(--black);
  background: var(--white);
  padding: 5px 7px 4px;
  border-radius: 3px;
  border: 0;

  &:hover {
    background: rgba(255, 255, 255, .9);
    border: 0;
  }

  &:active {
    background: rgba(255, 255, 255, .7);
  }
}

.btn.dark {
  background: var(--darkGray);
  color: var(--white);
  padding: 12px 16px;
  transition: background .3s ease;

  &:hover {
    background: var(--mediumGray);
  }

  &:active {
    background: var(--lightGray);
  }
}
