.client-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  margin-bottom: 200px;

  img {
    width: auto;
  }
}

.client-overview {
  background: var(--darkGray);
  position: relative;
  padding: 50px 0;
  z-index: 2;

  &::before {
    display: block;
    content: '';
    z-index: -1;
    position: absolute;
    top: -5vw;
    width: 100%;
    height: 10vw;
    transform: skewY(-3deg);
    background: var(--darkGray);
  }

  &::after {
    display: block;
    content: '';
    z-index: -1;
    position: absolute;
    bottom: -5vw;
    width: 100%;
    height: 10vw;
    transform: skewY(-3deg);
    background: var(--darkGray);
  }

  h3 {
    text-transform: uppercase;
    opacity: .7;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

  .overview p {
    font-size: 2rem;
    font-weight: normal;
    line-height: 3rem;
  }
}

.details ul {
  list-style: none;

  li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > :first-child {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.client-quote {
  padding: 300px 0;

  blockquote {
    font-size: 2rem;
    line-height: 3rem;
    font-family: var(--serif);
    text-align: center;

    span {
      display: block;
      text-align: right;
      font-size: 1.375rem;
      font-weight: normal;
      font-style: italic;
      font-family: var(--sansSerif);
    }
  }

  blockquote + p {
    margin-top: 1rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    lost-column: 6/12;
    lost-offset: 3/12;

    @media (--mobile) {
      lost-column: 12/12;
      lost-offset: 0;
    }
  }
}

.split-view {
  align-items: center;

  aside {
    lost-column: 1/2 flex;
  }

  .content {
    padding: 0 100px;

    @media (--mobile) {
      padding: 20px;
    }
  }
}
