.contact-form {
  margin-top: 20px;

  fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 0;
  }

  label {
    display: flex;
    justify-content: space-between;

    span {
      color: #ffc700;
    }
  }

  input, textarea {
    background: rgba(255, 255, 255, .1);
    border: 0;
    border-radius: 3px;
    font: inherit;
    margin-top: 8px;
    outline: 0;
    padding: 12px;
    color: var(--white);
    transition: .2s background ease-in-out;
    resize: vertical;
    width: 100%;

    &:focus {
      background: rgba(255, 255, 255, .15);
    }
  }

  textarea {
    min-height: 12rem;
  }
}

.button, button {
  background: rgba(255, 255, 255, .15);
  border-radius: 64px;
  border: 0px solid transparent;
  color: var(--white);
  cursor: pointer;
  font: inherit;
  font-weight: medium;
  margin-right: auto;
  outline: 0;
  padding: 12px 32px;
  transition: .2s all ease-in-out;

  &:not(.submitted):hover {
    background: rgba(255, 255, 255, .25);
  }

  &:not(.submitted):active {
    background: rgba(255, 255, 255, .35);
  }
}

.success {
  background: green;
}

.errors {
  animation-duration: 500ms;
  animation-name: fadeIn;
  background: var(--darkGray);
  color: #ffc700;
  border-radius: 64px;
  font: inherit;
  padding: 12px 32px;
  transition: .2s all ease-in-out;
}
