nav, footer {
  align-items: center;
  display: flex;
  height: 256px;
  overflow-x: hidden;

  .container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
  }
}

@media (--mobile) {
  nav .container aside, footer .container aside {
    padding-bottom: 20px;
    width: 100%;
  }
}

nav a, footer a {
  font-size: 1.25rem;
  font-family: var(--sansSerifBold);
  margin-left: 24px;
  padding-bottom: .25rem;

  &:first-child {
    margin: 0;
  }

  &.active {
    border-bottom: 2px solid var(--white);
  }

  &.btn {
    background: rgba(255, 255, 255, .15);
    border: 0px solid transparent;
    border-radius: 64px;
    color: var(--white);
    padding: 12px 16px;

    &:hover {
      background: rgba(255, 255, 255, .25);
      border: 0px solid transparent;
    }

    &:active {
      background: rgba(255, 255, 255, .35);
    }
  }
}
