@charset "utf-8";
@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "typography";
@import "variables";
@import "base";

body {
  font-family: "din pro", "Avenir", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $base-color;
  overflow-y: scroll;
}
//  ———————————————————————————
//  Layouts
//  ———————————————————————————
.wrapper {
  background: white;
  margin: 10px;
}
.container {
  @include outer-container;
  margin: 0 auto;
  header & {
    @extend .border-bottom;
  }
}
.full {
  @include span-columns(12);
}
//  ———————————————————————————
//  Page specific
//  ———————————————————————————
header {
  background: white;
  nav {
    @include unstyled-list();
    @include horizontal-list();
    padding: 24px 0;
    &:last-child {
      @include pull-right;
    }
    li {
      margin: 0 12px;
      padding: 6px 0;
      &:first-of-type {
        margin: 0;
        padding: 0;
      }
    }
  }
}
footer {
  margin-top: 32px;
  background: $g8;
  nav {
    @include unstyled-list();
    @include horizontal-list();
    padding: 24px 0;
    &:last-child {
      @include pull-right;
    }
    li {
      margin: 0 12px;
      padding: 6px 0;
      &:first-of-type {
        margin: 0;
      }
    }
  }
}
