@charset "utf-8";
@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "typography";
@import "variables";

body {
  font-family: "Whitney", "Avenir", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $base-color;
}
//  ———————————————————————————
//  Basic Elements
//  ———————————————————————————
a {
  @extend .g4;
  @extend .f5;
  @extend .w3;
  @extend .no-underline;
  &:hover {
    @extend .g2;
  }
}
h1 {
  @extend .g2;
  @extend .f3;
  @extend .w3;
  @extend .l15;
  margin: 72px 0 48px 0;
}
h2 {
  @extend .g2;
  @extend .f5;
  @extend .w3;
  @extend .l15;
  margin: 32px 0 8px 0;
}
a.button {
  @extend .g9;
  @extend .f6;
  @extend .w4;
  @include animate(0.2s);
  width: auto;
  display: inline-block;
  background: $base-color;
  padding: 12px 16px;
  border-radius: 100px;
  letter-spacing: 1px;
  text-transform: uppercase;
  &.button-hero {
    margin-bottom: 32px;
  }
  &:hover {
    background: darken($base-color, 5%);
  }
}
ol.list, ul.list {
  li {
    margin: 6px 0;
    color: #0BD994;
    &.current {
      list-style: disc;
    }
    a {
      @extend .g3;
      @extend .f5;
      @extend .w4;
      display: inline-block;
      padding: 5px 0;
      border-bottom: 1px solid $g5;
    }
    span {
      @extend .g5;
      @extend .f5;
      @extend .w4;
    }
  }
}
//  ———————————————————————————
//  Layouts
//  ———————————————————————————
.wrapper {
  background: white;
}
.container {
  @include outer-container();
  margin: 0 auto;
  header & {
    @extend .border-bottom;
  }
}
header {
  background: white;
  nav {
    @include unstyled-list();
    @include horizontal-list();
    padding: 24px 0;
    &:last-child {
      @include pull-right;
    }
    li {
      margin: 0 12px;
      padding: 6px 0;
      &:first-of-type {
        margin: 0;
        padding: 0;
      }
    }
  }
}
footer {
  margin-top: 32px;
  background: $g8;
  nav {
    @include unstyled-list();
    @include horizontal-list();
    padding: 24px 0;
    &:last-child {
      @include pull-right;
    }
    li {
      margin: 0 12px;
      padding: 6px 0;
      &:first-of-type {
        margin: 0;
      }
    }
  }
}
