.clients {
  margin: 200px auto;
}

.card {
  display: flex;
  background: var(--darkGray);
  border-radius: 10px;
  color: white;
  height: 200px;
  margin: 0 0 30px 0;
  lost-column: 1/2;
  lost-column-cycle: 3;
  transform-style: preserve-3d;

  &:first-child {
    lost-column: 1;
  }

  &.black {
    color: var(--black);
  }

  &.half-size {
    height: 300px;
  }

  a {
    display: flex;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    background-size: 100%;

    &:hover {
      border: 0 solid transparent;
    }
  }

  div {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    transform: translateZ(30px);
  }

  h3 {
    font-size: 2rem;
    line-height: calc(1.5rem * 2rem);
  }

  h4 {
    font-size: 1.375rem;
    line-height: calc(1.5rem * 1.375rem);
    font-family: var(--sansSerifBold);
    font-weight: normal;
    max-width: 512px;
  }
}

@media (--mobile) {
  .card {
    lost-column: 1/1;
  }
}
