<footer>
  <div class="container">
    <nav class="left">
      <ul>
        <li><a href="">&copy; 2016 Gavin Anthony</a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li><a href="">Dribbble</a></li>
        <li><a href="">Github</a></li>
        <li><a href="">Email</a></li>
      </ul>
    </nav>
  </div>
</footer>
