%header
  %a.name{ href: '/' } Gavin Anthony
  %h1= if defined?(header_title) then header_title else 'Product designer from Milwaukee, WI.<br>Currently leading design at Likeli in Wilmington, NC.' end
