%header
  %div.container
    %nav.left
      %ul
        %li
          = link_to '/' do
            = image_tag '/images/logo.svg'
    %nav.left
      %ul
        - data.navigation.header.each do | link |
          %li
            = link_to link.title, link.link
