<header>
  <div class="container">
    <nav class="left">
      <ul>
        <li><a href="/" class="logo"><img src="/images/logo.svg"></a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li><a href="">About Me</a></li>
          <li><a href="">Writings</a></li>
      </ul>
    </nav>
  </div>
</header>
