<header>
  <div class="container">
    <nav class="left">
      <ul>
        <li><a href="/" class="logo"></a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li><a href="">Item</a></li>
          <li><a href="">Item</a></li>
      </ul>
    </nav>
  </div>
</header>
