---
title: Kioh
client: Kioh
date: 2016-07-31 00:06 UTC
time: 2015
tags: ios, brand
selected: unselected
role: Product Designer
platform: iOS
location: Madison, WI
---
.container.large
  .imagerow.omega
    - work_get_screen_images(page_title).each do |image_file|
      .col-1-4.col-1-2-m
        %figure
          = work_image_tag(page_title, image_file)
          %figcaption= work_get_title(image_file)
