---
title: Joyspace
client: Taplet/Joyspace
date: 2016-07-31 00:09 UTC
time: 2014–2015
tags: ios, brand
selected: selected
role: Product Designer
link: "http://myjoyspace.com/"
platform: iOS
location: Los Angeles, CA
---
