---
title: Wemontage
client: Wemontage
date: 2016-07-31 00:02 UTC
time: 2013
tags: web, design
selected: unselected
role: Product Designer
link: "http://wemontage.com"
platform: Web
location: Madison, WI
intro: |
  During my 2013 summer internship at the startup-accelerator company, gener8tor, I worked with WeMontage to redesign their entire website.<br><br>
  The displayed work was for the homepage for the website. While working with WeMontage, I created style guides that were used throughout the site.
---
.container
  %hr
  .textrow
    %div
      %h1 Intro
      %p= current_page.data.intro

.container.large
  .col-1-1.s-heading
    %h3 Desktop Home Page
  .imagerow.omega
    - work_get_screen_images(page_title).each do |image_file|
      .col-1-1
        %figure
          = work_image_tag(page_title, image_file)
          %figcaption= work_get_title(image_file)
