---
title: Optyn
client: Optyn
date: 2016-07-31 00:03 UTC
time: 2013
tags: web, design, development, gener8tor
selected: unselected
link: "https://angel.co/optyn"
role: Designer
platform: web
location: Milwaukee, WI
intro: |
  During my 2013 summer internship at the startup-accelerator company, gener8tor, I worked with Optyn on several different projects. The first projects I was assigned to was redesigning their homepage, focusing heavily on the consumer side of the site rather than the merchant side.<br><br>
  The result was a single-page web design that showcased the company's main features for the consumers, while also giving merchants information on pricing and a place to sign up.
---
.container
  %hr
  .textrow
    %div
      %h1 Intro
      %p= current_page.data.intro
.container.large
  .col-1-1.s-heading
    %h3 Desktop Home Page
  .imagerow.omega
    - work_get_screen_images(page_title).each do |image_file|
      .col-1-1
        %figure
          = work_image_tag(page_title, image_file)
          %figcaption= work_get_title(image_file)
