---
title: Taplet
client: Taplet/Joyspace
date: 2016-07-31 19:16 UTC
time: 2014–2015
tags: ios, brand
role: Product Designer
link: "http://myjoyspace.com/"
platform: iOS
location: Los Angeles, CA
---
