---
title: Taplet
client: Taplet/Joyspace
date: 2016-07-31 00:08 UTC
time: 2014–2015
tags: ios, brand
selected: selected
role: Product Designer
link: "http://gotaplet.com"
platform: iOS
location: Los Angeles, CA
appstore: "https://itunes.apple.com/us/app/taplet-hd-photos-from-iphone/id670785096"
---
.container.large
  .imagerow.omega
    - work_get_screen_images(page_title).each do |image_file|
      .col-1-4.col-1-2-m
        %figure
          = work_image_tag(page_title, image_file)
          %figcaption= work_get_title(image_file)
