---
title: Beekeeper
client: Beekeeper Data
date: 2016-07-31 00:01 UTC
time: 2014
tags: ios, brand
selected: unselected
role: Designer
link: "http://beekeeperdata.com/"
platform: web
location: Milwaukee, WI
---
