---
title: Likeli
client: Likeli
date: 2016-07-31 19:16 UTC
time: 2015–Present
current: current
tags: ios, web, design, development
role: Lead Designer
link: "http://likeli.co"
platform: iOS
location: Wilmington, NC
appstore: "https://itunes.apple.com/us/app/likeli/id1038988933"
---
