---
title: Wemontage
client: Wemontage
date: 2016-07-31 00:02 UTC
time: 2013
tags: web, design
selected: unselected
role: Product Designer
link: "http://wemontage.com"
platform: web
location: Madison, WI
---
