---
title: Beekeeper
client: Beekeeper Data
date: 2016-07-31 00:01 UTC
time: 2014
tags: ios, brand
selected: unselected
role: Designer
link: "http://beekeeperdata.com"
platform: Web
location: Milwaukee, WI
intro: |
  During my 2014 summer internship at the startup-accelerator company, gener8tor, I worked with BeeKeeper to redesign their entire website.<br><br>
  While working with the BeeKeeper team, I redesigned the three main pages: home, contact, and team page. After creating a uniform look for the website, I created a style guide that could be used site wide.
---
.container
  %hr
  .textrow
    %div
      %h1 Intro
      %p= current_page.data.intro

.container.large
  .col-1-1.s-heading
    %h3 Desktop Screens
  .imagerow.omega
    - work_get_screen_images(page_title).each do |image_file|
      .col-1-1
        %figure
          = work_image_tag(page_title, image_file)
          %figcaption= work_get_title(image_file)
