* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: var(--sansSerif);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  letter-spacing: .2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  transition: .2s all ease-in-out;
}

.link-border a {
  border-bottom: 2px solid rgba(255, 255, 255, .2);

  &:hover {
    border-bottom: 2px solid var(--white);
  }

  &:active {
    opacity: .5;
  }
}

img, svg {
  display: block;
  width: 100%;
}

.hidden {
  opacity: 0;
}
