.b-r-s {
  border-radius: 3px;
}

.b-r-m {
  border-radius: 5px;
}

.b-r-l {
  border-radius: 10px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-b-100 {
  margin-bottom: 100px;
}

.m-tb-m {
  margin-top: 150px;
  margin-bottom: 150px;
}
