---
title: About Me
---
= image_tag '/images/profile.jpg', { :class => 'half' }
%h1 About Me
%p
  To me, communication design is about solving problems. As a designer, I strive to define problems everywhere I look. Defining the problem is the first step in creating an effective design that clearly communicates the purpose of a product.
%p
  Almost every design I see inspires me in some way to look at something differently, or to question what I’ve already made and ask myself if I can make it better. My biggest inspiration would be Steve Jobs, who said “Design is not just what it looks like and feels like. Design is how it works”. This quote perfectly states how I like to design. Steve Jobs’ perseverance, creativity, and innovation have inspired me to try different approaches to design, while still trying to improve how something works exceptionally well.
%p
  I’ve never changed my style to any particular design movements in my field, such as designs going flat or skeuomorphic. I consider myself a minimalist and I design with simplicity in mind. Leonardo da Vinci once said “Simplicity is the ultimate sophistication” and I could not agree more. With designs changing all the time, I strive for simplicity in hopes my designs are timeless.
