---
title: About Me
---
%h1 About Me
%figure
  %img{:src => "/images/milwaukee.jpg"}
  %figcaption Milwaukee, WI — Home
.textblock
  %aside
    %h3 Hobbies
  %aside
    %ul.list.unordered
      %li Biking
      %li Photography
