---
title: Gavin Anthony
---
%header
  %a.name Gavin Anthony
  %h1
    Product designer from Milwaukee, WI.<br>
    Currently leading design at Likeli in Wilmington, NC.
%ul.list
  %li.title Selected Work
  - data.work.clients.each do | client |
    %li{:class => client.current}
      = link_to client.name, client.link, :target => '_blank'
      %span=client.date
%ul.list
  %li.title Freelance Work
  - data.work.freelance.each do | client |
    %li
      -# = link_to client.name, '/work' + '/' + client.name.delete(' ').downcase
      %a= client.name
      %span=client.date
