---
title: Gavin Anthony
---
%ul.list
  %li.title Selected Work
  - blog('work').articles.each do |client|
    %li{:class => client.data.current}
      = work_slug(client.data)
      %span= client.data.time
