---
title: Gavin Anthony
---
%ul.list
  %li.title Selected Work
  - pages_by_category("selected").each do |client|
    %li{:class => client.data.current}
      = work_slug(client.data)
      %span= client.data.time
%ul.list
  %li.title More Work
  - pages_by_category("unselected").each do |client|
    %li{:class => client.data.current}
      = work_slug(client.data)
      %span= client.data.time
