$mobile: new-breakpoint(max-width 720px);
$desktop: new-breakpoint(min-width 720px);

.omega {
  .col-1-4 {
    @include omega(4n);
  }
}

.col-1-1 {
  @include span-columns(12);
  @include omega(1);
}

.col-1-3 {
  @include span-columns(4);
}

.col-1-4 {
  margin: 20px 0;

  @include media($desktop) {
    @include span-columns(3);
  }
}

.col-1-1-m {
  @include media($mobile) {
    @include span-columns(12);
    @include omega(1n);
  }
}

.col-1-2-m {
  @include media($mobile) {
    @include span-columns(6);
    @include omega(2n);
  }
}
