@include font-face(Affogato-Medium, "fonts/Affogato-Medium");
// Grey Colors
$g1: #263140;
$g2: #3a4859;
$g3: #4f5d70;
$g4: #7a8899;
$g5: #cacfd5;
$g6: #f0f1f3;
$g7: #f7f8fa;
$g8: #f7f9fa;
$white: #fff;

$base-font-size: 1rem;
$medium-font-size: 1.25rem;
$headline-font-size: 2.25rem;

@mixin base-font-styles {
  color: $base-color;
  font-size: $base-font-size;
  line-height: 1.5;
  font-family: $sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@mixin headline {
  color: $g2;
  font-family: $serif;
  font-size: $headline-font-size;
  font-weight: 400;
}

@mixin inherit-style {
  color: inherit;
  font: inherit;
}
