$max-width: 960px;
$base-color: #3a4859;
$alt-color: #9df;

$sans-serif: "Affogato-Medium", "Avenir", "Helvetica", sans-serif;
$serif: "Farnham Headline Reg", "FarnhamDisplay";


@mixin animate($time) {
  transition: all $time ease-in-out;
}

@mixin text-center {
  text-align: center;
}

@mixin pull-left {
  float: left;
}

@mixin pull-right {
  float: right;
}

// Lists

@mixin horizontal-list {
  display: inline-block;
  position: relative;

  li {
    display: inline-block;
    position: relative;
    padding: 0;

    &:last-of-type {
      margin-right: 0;
    }

    a {
      display: inline-block;
    }
  }
}

@mixin center-element {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin vertical-align {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

@mixin img-responsive {
  max-width: 100%;
  height: auto;
}
