* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: var(--sansSerif);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  transition: .2s all ease-in-out;
}

.link-border a {
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid var(--white);
  }
}

img {
  width: 100%;
}

.hidden {
  opacity: 0;
}
