@lost flexbox flex;

.container {
  lost-center: 1100px;

  &.small {
    lost-center: 700px;
  }

  &.full {
    lost-center: 100%;
  }
}

.grid-row {
  lost-flex-container: row;
}

.col-1-of-1 {
  lost-column: 1/1 flex;
}

.col-1-of-2 {
  lost-column: 1/2 flex;
}

.col-1-of-12 {
  lost-column: 1/12 flex;
}

.col-3-of-12 {
  lost-column: 3/12 flex;
  lost-column-cycle: 4;
}

.col-4-of-12 {
  lost-column: 4/12 flex;
}

.col-5-of-12 {
  lost-column: 5/12 flex;
}

.col-6-of-12 {
  lost-column: 6/12 flex;
}

.col-7-of-12 {
  lost-column: 7/12 flex;
}

.col-8-of-12 {
  lost-column: 8/12 flex;
}

.pull-4 {
  lost-offset: -4/12;
}

.m-b-100 {
  margin-bottom: 100px;
}
