@font-face {
  font-family: 'G';
  font-weight: normal;
  src: url('../fonts/G.eot');
  src: url('../fonts/G.woff') format('woff'),
       url('../fonts/G.ttf')  format('truetype')
}

@font-face {
  font-family: 'M';
  font-weight: normal;
  src: url('../fonts/MM.woff') format('woff'),
       url('../fonts/MM.woff2') format('woff2')
}

@font-face {
  font-family: 'M';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/MMI.woff') format('woff'),
       url('../fonts/MMI.woff2') format('woff2')
}

@font-face {
  font-family: 'MD';
  font-weight: medium;
  src: url('../fonts/MD.woff') format('woff'),
       url('../fonts/MD.woff2') format('woff2')
}

:root {
  --black: #000000;
  --darkGray: #222;
  --mediumGray: #333;
  --lightGray: #444;
  --white: #ffffff;

  --sansSerif: 'M';
  --sansSerifBold: 'MD';
  --serif: 'G';
}

::selection {
  background: rgba(255, 255, 255, .3);
  color: var(--white);
}
